In [3]:
import pandas as pd
import numpy as np

In [4]:
data_tomat = pd.read_csv('Tomato.csv')
data_tomat

            Date Unit  Minimum  Maximum  Average  Market
0     2013-06-16   Kg       26       32     29.0  Tomato
1     2013-06-17   Kg       20       25     22.5  Tomato
2     2013-06-18   Kg       22       26     24.0  Tomato
3     2013-06-19   Kg       24       28     26.0  Tomato
4     2013-06-20   Kg       22       26     24.0  Tomato
...          ...  ...      ...      ...      ...     ...
2736  2021-05-09   Kg       10       15     12.5  Tomato
2737  2021-05-10   Kg       10       15     12.5  Tomato
2738  2021-05-11   Kg       10       15     12.5  Tomato
2739  2021-05-12   Kg       30       35     32.5  Tomato
2740  2021-05-13   Kg       35       40     37.5  Tomato

[2741 rows x 6 columns]

In [5]:
data_tomat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2741 non-null   object
 1   Unit     2741 non-null   object
 2   Minimum  2741 non-null   int64
 3   Maximum  2741 non-null   int64
 4   Average  2741 non-null   float64
 5   Market   2741 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 128.6+ KB